* {
    box-sizing: border-box;
  }
  
  
  body {
    font-family: 'Jersey 10';
    margin: auto;
    color: rgba(201, 88, 54, 1) ;
  }
  

/*-------------------------------------------------------HEADER---------------------------------------------------------------*/
header {
  padding: 5%;
  text-align: center;
  background-image: url(../Imagenes/fondoheader3.jpg);
  background-size: cover;
}

/*-------------------------------------------------------NAV---------------------------------------------------------------*/


/*-------------------------------------------------------MAIN---------------------------------------------------------------*/
main {
  -ms-flex: 70%;
  flex: 70%;
  padding: 20px;
  background-color: rgba(217, 217, 217, 1);
  text-align: center;
}

main h1 {
  font-size: 2.5em;
  color: rgba(201, 88, 54, 1);
  margin-bottom: 20px;
}


.gestion-venta {
  text-align: center;
  padding: 20px;
}

.gestion-venta h2 {
  color: rgba(201, 88, 54, 1); 
  font-size: 3em;
  margin-bottom: 20px;
}

.gestion-venta h3 {
  color: rgba(201, 88, 54, 1);
  font-size: 2em;
  margin-bottom: 20px;
}

.ventajas-venta {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  width: 40%; 
  vertical-align: top;
}

.ventajas-venta:first-child {
  margin-right: 5%; 
}

.ventajas-venta li {
  margin-bottom: 10px;
  font-size: 1.5em; 
  color: rgb(0, 0, 0);
}




/*-------------------------------------------------------FOOTER---------------------------------------------------------------*/

  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  
  }