* {
  box-sizing: border-box;
}

body {
  font-family: "Jersey 10";
  margin: auto;
  color: rgba(201, 88, 54, 1);
}

/*-------------------------------------------------------HEADER---------------------------------------------------------------*/
header {
  padding: 5%;
  text-align: center;
  background-image: url(../Imagenes/fondoheader3.jpg);
  background-size: cover;
}

/*-------------------------------------------------------NAV---------------------------------------------------------------*/



/*-------------------------------------------------------MAIN---------------------------------------------------------------*/
main {
  -ms-flex: 70%;
  flex: 70%;
  padding: 20px;
  background-color: rgba(217, 217, 217, 1);
  text-align: center;
}

main h1 {
  font-size: 2.5em;
  color: rgba(201, 88, 54, 1);
  margin-bottom: 20px;
}

/*caracterisitcas*/
.caracteristicas {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.caracteristicas article {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.caracteristicas h3 {
  color: rgba(201, 88, 54, 1);
}

.caracteristicas p {
  color: #333;
}

/*por que nosotros?*/
.porqueNosotros {
  background-color: #fff;
  padding: 40px 20px;
}

.porqueNosotros h2 {
  color: rgba(201, 88, 54, 1);
  margin-bottom: 20px;
  font-size: 2em;
}

.porqueNosotros article {
  margin-bottom: 20px;
}

.porqueNosotros h4 {
  color: rgba(201, 88, 54, 1);
  margin-bottom: 10px;
}

.porqueNosotros p {
  color: #333;
}





/*slider*/
.slider {
  width: 100%;
  max-width: 800px; 
  height: 450px; 
  overflow: hidden; 
  position: relative;
  margin: auto;
  border: 2px solid #333;
}

/*div de las imagenes*/
.slides {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide-animation 9s infinite; /*animacion de desplazamiento*/
}

/*cada imagen */
.slide {
  flex: 0 0 100%; /*cada imagen ocupa el 100% del contenedor*/
  height: 100%;
}

/*medidas de lasimagenes*/
.slide img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center; 
}

/*animacion de desplazamiento*/
@keyframes slide-animation {
  0%, 20% { transform: translateX(0); }
  33%, 53% { transform: translateX(-100%); }
  66%, 86% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}



/*animacion para que aparezca el titulo desde abajo*/
@keyframes slide-up {
  0% {
    transform: translateY(50px); /*empieza 50px abajo*/
    opacity: 0; /*empieza invisible*/
  }
  100% {
    transform: translateY(0); /*se mueve hacia arriba*/
    opacity: 1; /*se vuelve visible */
  }
}


.tituloAnimado {
  animation: slide-up 1s ease-out forwards; /* Animación de 1 segundo */
}



/*-------------------------------------------------------FOOTER---------------------------------------------------------------*/
footer {
  padding: 20px;
  text-align: center;
  background-color: rgba(166, 180, 198, 1);
}

table {
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
